.test {
    width: 50%;
}

.test2 {

}

@media screen and (max-width: 768px) {
    .test2 {

    }
}

.test3 {

}


@media screen and (max-width: 768px) {
    .test {
    }
    
    .test2 {

    }
    
    .test3 {
    
    }    
}